
@font-face {
    font-family: 'Caveat_Brush';
    src: url('assets/fonts/tester1.ttf');
    font-weight: normal;
}
@font-face{
    font-family: 'Caveat';
    src: url('assets/fonts/tester1.ttf');
    font-weight: normal;
}
body {
    font-family: 'Caveat_Brush', cursive;
    background: linear-gradient(#ffffff, #fed4ff);
    background-attachment: fixed;
    min-height: 0vh;
    margin-top: 40px;
    color: #c74dff;
    text-align: center;
    text-shadow: 2px 2px 4px #ff94ff;
    font-size: 15px;
    padding: 10px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-container button{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    width: 150px;
    height: 50px;
    font-size: auto;
    border-radius: 8px;
    border: 2px solid;

}

.btn-container2 button{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    width: 150px;
    height: 50px;
    font-size: auto;
    border-radius: 8px;
    border: 2px solid;
    display: block;
    margin: 0 auto;
}

.yes-btn:hover{
    filter: brightness(0.95);
    transform: scale(1.05);

}

.no-btn:hover{
    filter: brightness(0.95);
    transform: scale(1.05);
}

.surprise-btn:hover{
    filter: brightness(0.98);
    transform: scale(1.05);
}

.tryagain-btn:hover{
    filter: brightness(0.98);
    transform: scale(1.05);
}

.yes-btn {
    background-color: #ebaaff;
    color: #bd5eea;
    margin-right: 20px;
    box-shadow: 3px 3px #b058b8;
    transition: transform 0.2s;
}
.no-btn {
    background-color: #f7bfef;
    color: #ef8fe0;
    margin-left: 20px;
    box-shadow: 3px 3px #bc68a1;
    font-size:auto;
    transition: transform 0.2s;

}

.surprise-btn{    
    background-color: #ffc4f6;
    color: #ec77db;
    box-shadow: 3px 3px #b058b8;
}

.tryagain-btn{
    background-color: #f7bfef;
    color: #ef8fe0;
    box-shadow: 3px 3px #bc68a1;
}

.run-btn{
    background-color: #ffc4f6;
    color: #ec77db;
    box-shadow: 3px 3px #b058b8;
    cursor: pointer;
}
  

.run-btn:hover{
    filter: brightness(0.98);
    transform: scale(1.05);
}

.kuromigif {
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

.kuromigifend {
    border-radius: 8px;
    width: 500px;
    margin-left: 130px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top:30px
}

.lettercontainer{
    color: #f0a1e4;
    overflow: auto;
    width: 780px;
    height: 680px;
    background:#fff3e6;
    border-radius: 8px;
    font-size: 28px;
    border-color:#ff94ff;
    margin-left: 130px;
    text-shadow: none;
    position: relative;
    z-index: 2;
}

@supports (scrollbar-color: auto) {
  .lettercontainer {
    scrollbar-color: rgb(247, 208, 241) #fff3e6;
    scrollbar-width: thin;
  }
}

.backletter{
    border-radius: 8px;
    background-color: #f0a1e4;
    width: 800px;
    height: 700px;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 854px;
}
